.esn-draggable {
  display: flex;
  align-items: center;
  color: white;
  > .handle, > .actions { min-width: unset; padding: 0; }
  .handle:not(:active) { cursor: grab; }
  .handle:active { cursor: grabbing; }
  .name {
    flex-grow: 1;
    text-align: left;
    font-size: 20px;
    text-decoration: none;
  }
  .overflow-ellipsis { overflow: hidden; text-overflow: ellipsis; }
}