@import '~@angular/material/theming';

@mixin esn-list-item() {
  .esn-list-item {
    display: flex;
    align-items: center;
    > .handle, > .actions { min-width: 32px; padding: 0; }
    .handle:not(:active) { cursor: grab; }
    .handle:active { cursor: grabbing; }
    .name {
      flex-grow: 1;
      text-align: left;
      font-size: 16px;
      text-decoration: none;
    }
    .overflow-ellipsis { overflow: hidden; text-overflow: ellipsis; }
  }
}