@import '~@angular/material/theming';

@mixin esn-material-overrides($theme) {
  mat-sidenav-container {
    .mat-drawer-inner-container { overflow: hidden; }
    .mat-drawer-backdrop.mat-drawer-shown { background-color: rgba(0, 0, 0, 0.5) !important; }
  }
  mat-dialog-actions { justify-content: flex-end; }
  mat-form-field { display: block; }
}