@import '~@angular/material/theming';

@mixin esn-text-editor($theme) {
  $colors: mat-get-color-config($theme);
  $primary-palette: map-get($colors, primary);
  $foreground-palette: map-get($colors, foreground);
  $background-palette: map-get($colors, background);

  ngx-editor {
    display: block;
    .NgxEditor {
      background-color: transparent;
      border: none;
      &__Content {
        padding: 0;
        color: map-get($foreground-palette, text);
        pre {
          background-color: map-get($background-palette, unselected-chip);
          border-radius: 4px;
          padding: 4px;
        }
        code {
          background-color: map-get($background-palette, unselected-chip);
          padding: 0 4px;
          border-radius: 4px;
        }
        pre > code { padding: 0; }
      }
    }
  }
  ngx-editor-menu {
    display: block;
    .NgxEditor {
      &__MenuBar {
        background-color: transparent;
        display: flex;
        justify-content: center;
        padding: 0;
        margin-top: 32px;
      }
      &__Seperator { margin: 0 8px; }
      &__MenuItem {
        margin: 0 4px !important;
        border-radius: 4px;
        cursor: pointer;
        &:hover { background-color: rgba(127, 127, 127, 0.5); }
        &--Active { background-color: mat-color($primary-palette); }
        svg { fill: map-get($foreground-palette, text); }
      }
    }
  }
}