<mat-sidenav-container autosize>
  <mat-sidenav #sidenav esnResponsive>
    <div class="sidenav-flexbox">
      <mat-toolbar color="primary">
        <button type="button" mat-button class="menu" (click)="sidenav.close()"
        ><mat-icon>chevron_left</mat-icon></button>
        <div style="flex-grow: 1;"></div>
        <esn-theme-toggle></esn-theme-toggle>
      </mat-toolbar>
      <esn-side-menu></esn-side-menu>
      <esn-install></esn-install>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" mat-button class="menu" (click)="sidenav.toggle()"
      ><mat-icon>menu</mat-icon></button>
      <h1 class="title">ESNOTE</h1>
      <esn-save-indicator></esn-save-indicator>
    </mat-toolbar>
    <div class="page">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>