:host { display: block; height: 100%; }
mat-sidenav-container { height: 100%; }
mat-sidenav-content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  .page { flex-grow: 1; overflow: auto; }
}
mat-toolbar {
  padding: 0;
  button, esn-theme-toggle { height: 64px; width: 64px; }
}
.title { margin: 0 16px; flex-grow: 1; }
esn-save-indicator { margin-right: 16px; }