<button
  type="button"
  mat-button
  class="create esn-light-button"
  (click)="openCreateDialog()"
><mat-icon>add</mat-icon></button>

<div
  #dropList
  cdkDropList
  (cdkDropListDropped)="reorder($event.previousIndex, $event.currentIndex)"
>
  <div
    *ngFor="let list of lists$ | async; let listIndex = index"
    class="esn-list-item"
    cdkDrag
    cdkDragLockAxis="y"
    [cdkDragBoundary]="dropList"
  >
    <button type="button" mat-button cdkDragHandle class="handle esn-light-button"
    ><mat-icon>drag_indicator</mat-icon></button>

    <button
      type="button"
      class="name esn-fg-text"
      mat-button
      [routerLink]="['/list', listIndex]"
      routerLinkActive="active"
    ><div class="overflow-ellipsis">{{ list }}</div></button>

    <button
      class="actions esn-light-button"
      type="button"
      mat-button
      [matMenuTriggerFor]="listActions"
    ><mat-icon>more_vert</mat-icon></button>
    <mat-menu #listActions="matMenu">
      <button type="button" mat-menu-item (click)="openRenameDialog(listIndex, list.name)"
      ><mat-icon>edit</mat-icon>Rename</button>
      <button type="button" mat-menu-item (click)="openRemoveDialog(listIndex, list.name)"
      ><mat-icon>delete</mat-icon>Delete</button>
    </mat-menu>
  </div>
</div>