<mat-dialog-content>
  <table>
    <tr><td colspan="2"><h2>Snippets</h2></td></tr>
    <tr>
      <td>
        <code class="esn-bg-control space-right">#</code>
        <code class="esn-bg-control space-right">##</code>
        <code class="esn-bg-control">###</code>
      </td>
      <td>Heading</td>
    </tr>
    <tr>
      <td>
        <code class="esn-bg-control space-right">-</code>
        <code class="esn-bg-control">+</code>
      </td>
      <td>Bullet list</td>
    </tr>
    <tr>
      <td>
        <code class="esn-bg-control space-right">1.</code>
        <code class="esn-bg-control space-right">2.</code>
        <code class="esn-bg-control">3.</code>
      </td>
      <td>Ordered list</td>
    </tr>
    <tr>
      <td><code class="esn-bg-control">```</code></td>
      <td>Code block</td>
    </tr>
    <tr>
      <td><code class="esn-bg-control">></code></td>
      <td>Block quote</td>
    </tr>
    <tr><td colspan="2"><h2>Shortcuts</h2></td></tr>
    <tr>
      <td><code class="esn-bg-control">Mod</code> + <code class="esn-bg-control">B</code></td>
      <td>Bold</td>
    </tr>
    <tr>
      <td><code class="esn-bg-control">Mod</code> + <code class="esn-bg-control">I</code></td>
      <td>Italic</td>
    </tr>
    <tr>
      <td><code class="esn-bg-control">Mod</code> + <code class="esn-bg-control">`</code></td>
      <td>Code</td>
    </tr>
    <tr>
      <td><code class="esn-bg-control">Shift</code> + <code class="esn-bg-control">Enter</code></td>
      <td>Inner line break / exit code block</td>
    </tr>
    <tr>
      <td><code class="esn-bg-control">Tab</code></td>
      <td>Lift list item</td>
    </tr>
    <tr>
      <td><code class="esn-bg-control">Mod</code> + <code class="esn-bg-control">[</code></td>
      <td>Lift list item</td>
    </tr>
    <tr>
      <td><code class="esn-bg-control">Mod</code> + <code class="esn-bg-control">]</code></td>
      <td>Sink list item</td>
    </tr>
  </table>
</mat-dialog-content>

<mat-dialog-actions>
  <button type="button" mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>