:host {
  display: block;
  height: 40px;
  width: 40px;
  padding: 4px;
  position: relative;
}
mat-icon {
  transition: opacity 500ms ease-in-out;
  &:not(.visible) { opacity: 0; }
  &.disket { font-size: 32px; height: 32px; width: 32px; }
  &.checkmark {
    color: limegreen;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
    height: 20px;
    width: 20px;
  }
}
