<ngx-editor
  [editor]="editor"
  [formControl]="formControl"
  [placeholder]="placeholder"
  (focusIn)="focused = true"
  (focusOut)="focused = false"
></ngx-editor>

<ngx-editor-menu
  [editor]="editor"
  [toolbar]="[[
    'bold',
    'italic',
    'underline',
    'strike',
    'bullet_list',
    'ordered_list',
    'code',
    'blockquote'
  ]]"
  [customMenuRef]="helpTemplate"
></ngx-editor-menu>

<ng-template #helpTemplate>
  <div class="NgxEditor__Seperator"></div>
  <div
    class="NgxEditor__MenuItem NgxEditor__MenuItem--Icon"
    (mousedown)="openHelpDialog()"
  ><mat-icon>help_outline</mat-icon></div>
</ng-template>